.btn {
    background-color: brown;
    color: white;
    height: 100px;
    width: 200px;
    position: relative;
    z-index: 1;
    margin-left: 40%;
    margin-top: 10%;
}

.btn:after,
.btn:before {
    content: "";
    position: absolute;
    background-color: chocolate;

    /* height: 100%;
    width: 50%; */
    height: 50%;
    width: 100%;
    transition: 2s;
}

.btn:before {
    bottom: 0;
    left: 0;

}

.btn:after {
    top: 0;
    right: 0;

}

.btn:hover:after,
.btn:hover:before {
    /* width: 0; */
    height: 0;
    transition: 2s;

}