.grid-box{
    background-color: rgb(175, 63, 63);
    display: grid;
    grid-template-columns: auto auto auto 200px;
}
.grid-box div{
    border:1px solid rgb(0, 0, 0);
    height: 80px;
}

.items1{
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-row-start: 2;
    grid-row-start: 2; */
}