   h1{
           background-color: green;
           color: aliceblue;
           text-align: center; }
        h2{
               background-color: aqua;color-scheme: ;}
        h3{
        background-color: darkgrey;
        }
select{
        background-color: darkred;
}
a{
        background-color: yellow;
}